{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />
<html>
<head>
<title>my site</title>
</head>
<body>
  <div id="mainmenu_box"> </div>
  <div id="imagebox"> </div>
  <div id="mainmenu">
	  <ul id="navlist">
      <li><a href="http://127.0.0.1:8000/myapp/account/">Home</a></li>
      <li><a href="http://127.0.0.1:8000/myapp/about/">About</a></li>
      <li><a href="http://all-free-download.com/free-website-templates/">Contact Us</a></li>
    </ul>
  </div>
  </div>
  </div>
  <div id="contactdetails">
  Anjitha Devan</br>
   email:<font color="blue">anjitha@gmail.com</font></br>
     ph:+919745046321
  </div>
</body>
</html>
