{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />
<html>
<head>
<title>my site</title>
</head>
<body>
	<div id="mainmenu_box"></div>
    <div id="imagebox"> </div>
    <div id="mainmenu">
		<ul id="navlist">
     	 <li><a href="http://127.0.0.1:8000/myapp/account/">Home</a></li>
      	 <li><a href="http://127.0.0.1:8000/myapp/about/">About</a></li>
         <li><a href="/myapp/contact">Contact Us</a></li>
        </ul>
    </div>
    <div id="aboutdetails">
    	“Sometimes the dreams that come true are the dreams you never even knew you had.” </br>
          ―Alice Sebold</br>
        </br>

        “Live the Life of Your Dreams.When you start living the life of your dreams, there will always be obstacles, doubters, mistakes and setbacks along the way. But with hard work, perseverance and             self-belief there is no limit to what you can achieve.” </br>
          ―Roy T Bennett
    </div>
</body>
</html>
