{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />
<html>
<head>
<title>my site</title>
</head>
<body>
  <h2>Welcome {{request.user}}</h2>
  <div id="mainmenu_box"></div>
  <div id="imagebox"> </div>
    <div id="mainmenu">
      <ul id="navlist">
        <li><a href="http://127.0.0.1:8000/myapp/account/">Home</a></li>

          {% if user.is_authenticated %}
            <li><a href="/myapp/logout">Logout</a></li>
          {% else %}
            <li><a href="/myapp/login">Login</a></li>
          {% endif %}
        <li><a href="/myapp/about">About</a></li>
        <li><a href="/myapp/contact">Contact Us</a></li>
        <li><a href="/myapp/password_change">Change Password</a></li>
      </ul>
    </div>
    </div>
  </div>
  
<h4>DREAMS</h4>
    <div id="details">
                “There is only one thing that makes a dream impossible to achieve: the fear of failure.” 
      ―Paulo Coelho, The Alchemist
    </div>
</body>
</html>
